@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

* {
  font-family: Montserrat;

}

.ticket__body {
  border-style: solid;
  width: 300px;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
}

.ticket__counter {

  border-style: solid;
  width: 150px;

}

.ticket {
  background-color: #d59494;
  margin: 30px;
}

.display {
  display: flex;
}

.counter__number {
  font-size: 60px;
}

.ticket__counter {
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.counter__plus {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: bisque;
  font-size: 20px;
}

.counter__minus {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: bisque;
  font-size: 20px;
}

.ticket__admit {
  font-family: Ultra;
  display: flex;
  justify-content: center;
}

.ticket__serial {
  display: flex;
  justify-content: center;
}

.admit__border {
  border-style: solid;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.ticket__info {
  border-style: solid;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ticket__name {
  margin-bottom: -10px;
  border-bottom-style: solid;
  height: 30px;
  
}